.custom-container{
    max-width: 600px;
    margin: 0 auto;
}

button{
  cursor: pointer;
}







/*newCardsPosts*/
.card{
  max-width: 600px;
  border-radius: 15px;
  padding: 15px;
  margin: 20px;

}
.card-header{
  display: flex;
  margin-bottom: 10px;
  background: none !important;
  border: none;
  cursor: pointer;
}
.card-profile-img{
  width: 50px;
  height: 50px;
  border-radius: 999px;
  margin-right: 10px;
  display: block;
  background-color: #212529;
  border: none;
  
}
.userInfo{
  position: relative;
  display: flex;
  flex-direction: column;
}
.name{
  font-weight: bold;
  margin-bottom: 2px;
}
.handle, .time{
  color: #657786;
}
.time{

  margin-left: auto;
  width: 80px;
}

.card-body-content{
  margin: 10px 0;
}
.card-content-img-container{
  overflow: hidden;
}
.card-content-img-container img, #modalImageSrc{
  width: 100%;
  border-radius: 10px;
  max-height: 400px;
  object-fit: cover;

}
.card-body{
  max-width: 500px;

}
.reaction-container{
  display: flex;
  gap: 20px;
  margin-top: 5px;
  width: 100%;
}
.reaction-container button{
  background: none;
  border: none;

}
.fa-comment{
  padding-right: 3px;
}
.fa-heart{
  color: red;
  padding-right: 3px;
}

/*newCardsPostsBIOMODAL*/
.custom-modal-content{
  max-width: 400px;
  margin: 0 auto;
}
.custom-modal-body{
  position: relative;
  display: flex;
  justify-content: center;
  background: #292f34;

}
.custom-modal-image{
  max-width: 400px;
  height: 300px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}
.custom-modal-profile-img{
  width: 70px;
  height: 70px;
  border-radius: 999px;
  border: 2px solid #212529;;
  position: absolute;
  bottom: -30px;
  left: 0;
  object-fit: cover;
  display: block;
}
.custom-body-container{
  margin-left: 35px;

}
#followModalButton{
  border: none;
}
.bio-section{
  border-top:2px solid #ffc107;
}
.deletePostBtn{
  background: none;
  border: none;
}
.deletePostBtn:hover{
  color: red;
}
.edit-post-btn{
  border-radius: 999px;
  border:none;
  background: #ffc107;
  font-weight: bold;
  padding: 5px;

}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  transition: visibility 0.5s, bottom 0.5s;
}

#snackbar.show {
  visibility: visible;
  bottom: 50px;
}

.btn.btn-primary {
  background-color: #cc5e3b; 
  color: white;
  margin-left: 10px;
}

.btn.btn-primary:hover {
  background-color: #5fd0ef; 
  color:black;
}