.profile-container {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
  }
  
  .profile-container .header-image-container .header-image {
    height: 250px;
    object-fit: cover;
    display: block;
  }
  
  .profile-container .header-image-container .profile-image {
    width: 133px;
    height: 133px;
    position: absolute;
    bottom: -50px;
    left: 20px;
    border: 3px solid #212529;
    z-index: 10;
    border-radius: 50%;
  }
  
@media(max-width:768px){
    .profile-container .header-image-container .profile-image{
        width: 100px;
        height: 100px;
    }
}
.bio-section{
    padding-top: 10px;
}
  
  .profile-container .edit-profile-btn {
    position: absolute;
    bottom: 90px;
    right: 0px;
    border-radius: 20px; 
    padding: 5px 15px; 
  }



  .card {
    border: none;
    background-color: #F5F8FA;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 10px 20px;
}

/* User details */
.font-weight-bold {
    font-size: 16px;
    color: #000000;  /* Twitter's blue color */
}

/* Tweet title and timestamp */
h6 {
    font-size: 14px;
    margin-top: 5px;
}

/* Icons for interaction */
.btn-link {
    font-size: 14px;
    padding-left: 10px;
}

.fas.fa-heart {
    color: #E0245E;
}

.fas.fa-comment {
    margin-right: 5px;
}

/* Hover effects */
.btn-link:hover, .btn-link:focus {
    text-decoration: none;
    outline: none;
}

.btn-link:hover .fas.fa-heart, .btn-link:focus .fas.fa-heart {
    color: #E81C4F;
}

.nav-container{
    max-width: 600px;
    margin: auto;
}
.custom-btn{
    border: none;
}
.delete-post-btn:hover i {
    color: red;
}
.delete-comment-btn:hover i{
    color: red;
}

.userCard{
    max-width: 300px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;

}
.img-container{
    width: 50px;
    height: 50px;
    background-color: rgb(12, 12, 12);
    border: 2px solid  #FFC107;;
    border-radius: 999px;
    overflow: hidden;
}
.img-container img{
    width: 100%;
    display: block;
    
}
.followBtnUser{
    background-color: #FFC107;
    border: none;
    border-radius: 4px;
}
.userName{
    margin: 0;
}



.custom-container{
    max-width: 600px;
    margin: 0 auto;
}

button{
  cursor: pointer;
}


/*newCardsPosts*/
.card{
  max-width: 600px;
  border-radius: 15px;
  padding: 15px;
  margin: 20px;

}
.card-header{
  display: flex;
  margin-bottom: 10px;
  background: none !important;
  border: none;

}
.card-profile-img{
  width: 50px;
  height: 50px;
  border-radius: 999px;
  margin-right: 10px;
  display: block;
}
.userInfo{
  position: relative;
  display: flex;
  flex-direction: column;
}
.name{
  font-weight: bold;
  margin-bottom: 2px;
}
.handle, .time{
  color: #657786;
}
.time{

  margin-left: auto;
  width: 80px;
}

.card-body-content{
  margin: 10px 0;
}
.card-content-img-container{
  overflow: hidden;
}
.card-content-img-container img, #modalImageSrc{
  width: 100%;
  border-radius: 10px;
  max-height: 400px;
  object-fit: cover;

}
.card-body{
  max-width: 500px;

}
.reaction-container{
  display: flex;
  gap: 20px;
  margin-top: 5px;
  width: 100%;
}
.reaction-container button{
  background: none;
  border: none;

}
.fa-comment{
  padding-right: 3px;
}
.fa-heart{
  color: red;
  padding-right: 3px;
}


.deletePostBtn{
  background: none;
  border: none;
}
.deletePostBtn:hover{
  color: red;
}
.edit-post-btn{
  border-radius: 999px;
  border:none;
  background: #ffc107;
  font-weight: bold;
  padding: 5px;

}
